/*
    COMPILE SCSS :
    -> sass --watch scss:css
*/
/* VENDORS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* FONTS */
@font-face {
  font-family: 'Noto';
  src: url("NotoSansHans-Thin.otf") format("truetype");
  font-weight: 100; }
@font-face {
  font-family: 'Noto';
  src: url("NotoSansHans-Light.otf") format("truetype");
  font-weight: 200; }
@font-face {
  font-family: 'Noto';
  src: url("NotoSansHans-DemiLight.otf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: 'Noto';
  src: url("NotoSansHans-Regular.otf") format("truetype");
  font-weight: 400; }
@font-face {
  font-family: 'Noto';
  src: url("NotoSansHans-Medium.otf") format("truetype");
  font-weight: 500; }
@font-face {
  font-family: 'Noto';
  src: url("NotoSansHans-Bold.otf") format("truetype");
  font-weight: 600; }
@font-face {
  font-family: 'Noto';
  src: url("NotoSansHans-Black.otf") format("truetype");
  font-weight: 700; }
/* BASE */
/* 100 | 300 | 350 | 400 | 500 | 700 | 900 */
html {
  background-color: #181b27;
  font-size: 100%;
  font-size: 1rem; }

body {
  max-width: 20em;
  margin: auto;
  background-color: #323951;
  font-family: "Chaparral", "Chaparral Pro", "Noto sans", Georgia, serif;
  color: #eeece0; }

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
.text-code {
  font-family: "Anonymous Pro", "Courier New", Courier; }

.text-chinese {
  font-family: "Noto", Verdana; }

a {
  color: #ffed90; }
  a:hover {
    color: #95a7e2; }

/*------------------------------------*\
    #HELPERS
\*------------------------------------*/
.hidden {
  display: none !important; }

/* LAYOUT */
/* MODULES */
/* DECK RELATED SCSS*/
.deck__learn {
  width: 100%; }
  .deck__learn .deck__card,
  .deck__learn .deck__toolbar {
    display: inline-block; }
  .deck__learn .deck__card {
    width: 80%; }
  .deck__learn .deck__toolbar {
    float: right;
    width: 18%; }

.card {
  background-color: #ffed90;
  color: #181b27;
  font-size: 2rem; }

.card p {
  padding: 0.5em;
  margin: 0.5em; }

.card-item__answer,
.card-item__question,
.card-item {
  display: block;
  /* careful : .hidden{display: none !important } */
  min-width: 3em;
  padding: 0.3em;
  margin: 0.1em; }

.card-item__question {
  color: #ffa57f; }

.card [contenteditable='true'] {
  background-color: rgba(24, 27, 39, 0.2); }

/*
    NAV module
    -> styles pertaining to the main navigation element,
        the menu on the top of the app.
*/
nav > * {
  display: inline-block;
  padding: 0.4em; }

.nav__menu {
  float: right; }

.nav__logo {
  font-family: "Noto", Verdana;
  font-weight: 100;
  font-size: 1.2em;
  color: #ffed90; }

/*------------------------------------*\
    #BUTTONS

    -> CODEPEN : http://codepen.io/Marekje/pen/lIwzn?editors=010
    -> GITHUB  : https://gist.github.com/Marekje/58e8c9103af720e71905
    (That buttons system should serve as a base for this one)
\*------------------------------------*/
.btn {
  border: 1px solid #181b27;
  background-color: #ffed90;
  color: #323951; }

.btn--action {
  min-width: 4em;
  min-height: 4em;
  border-radius: 0.2em;
  background-color: #a8d46f; }

/* STATES */
/* BASE */
