@charset "UTF-8";
/*
    COMPILE SCSS :
    -> sass --watch scss:css
*/
/* VENDORS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* BASE */
/*        āáǎàa
    It's not easy to find a font that allows pinyin writing :
    test with ǎ (Keyboard US-extended, [alt+v] -> [a]) put
    a regular a next to it and see how it looks. If "ǎ" and
    "a" are the same, you're good. So far, I use Source San
    Pro from Adobe Typekit for pinyin.
    ->     http://www.kendraschaefer.com/2012/06/chinese-standard-web-fonts-the-ultimate-guide-to-css-font-family-declarations-for-web-design-in-simplified-chinese/
*/
*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  background-color: #181b27;
  font-size: 100%;
  font-size: 1rem; }

body {
  max-width: 70em;
  margin: 0 auto;
  background-color: #323951;
  font-family: "source-sans-pro", "宋体", Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
  color: #eeece0; }

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
.text-code {
  font-family: "Anonymous Pro", "Courier New", Courier; }

.text-chinese {
  font-family: "source-sans-pro", "宋体", Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif; }

a {
  color: #ffed90; }
  a:hover {
    color: #95a7e2; }

/*------------------------------------*\
    #HELPERS
\*------------------------------------*/
.hidden {
  display: none !important; }

/* LAYOUT */
/* MODULES */
/* DECK RELATED SCSS*/
.deck__learn {
  width: 100%;
  display: flex;
  align-items: stretch; }

.deck__card {
  width: 80%; }

.deck__toolbar {
  width: 20%;
  display: flex;
  align-items: stretch;
  align-content: stretch; }

.deck__toolbar li {
  display: block;
  width: 100%;
  display: flex; }

.deck__toolbar .btn {
  display: block;
  width: 100%;
  align-items: stretch; }
  .deck__toolbar .btn:focus:after {
    content: " You can also press [space]";
    display: block;
    color: rgba(24, 27, 39, 0.5);
    font-size: 0.8rem;
    font-style: italic; }

@media screen and (min-width: 30em) {
  .deck__toolbar .btn {
    font-size: 2em; } }
@media screen and (min-width: 50em) {
  .deck__toolbar .btn {
    font-size: 3em; } }
.card {
  background-color: #ffed90;
  color: #181b27;
  font-size: 1rem;
  padding: 1em; }

.card p {
  padding: 0.5em;
  margin: 0.5em; }

.card-item__answer,
.card-item__question,
.card-item {
  display: block;
  /* careful : .hidden{display: none !important } */
  min-width: 3em;
  min-height: 1em;
  padding: 0.2em 0;
  margin: 0.1em 0.1rem; }

.card-item__question {
  color: #ffa57f; }

.card [contenteditable='true'] {
  background-color: rgba(24, 27, 39, 0.2); }

.card__pinyin .card-item {
  font-style: italic; }

.card__translation .card-item {
  color: rgba(24, 27, 39, 0.7); }

.card > div:first-child {
  font-size: 2em; }

@media screen and (min-width: 30em) {
  .card {
    font-size: 2em; } }
@media screen and (min-width: 50em) {
  .card {
    font-size: 3em; } }
/*
    NAV module
    -> styles pertaining to the main navigation element,
        the menu on the top of the app.
*/
nav {
  background-color: #181b27; }

nav > * {
  display: inline-block;
  padding: 0.4em; }

.nav__menu {
  float: right; }
  .nav__menu li {
    display: inline-block;
    margin-left: 1px; }

.menu__link {
  display: block;
  padding: 0.6em 0.4em 0.4em 0.4em;
  color: rgba(238, 236, 224, 0.8);
  text-decoration: none;
  background-color: #181b27;
  border-bottom: 3px solid rgba(238, 236, 224, 0.8);
  font-family: "helvetica", verdana, sans-serif;
  font-weight: 100; }
  .menu__link:hover {
    color: #eeece0;
    border-bottom: 3px solid #a8d46f; }

.nav__logo {
  font-family: "source-sans-pro", "宋体", Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
  font-weight: 100;
  font-size: 1.6em;
  color: #ffed90; }

/*------------------------------------*\
    #BUTTONS

    -> CODEPEN : http://codepen.io/Marekje/pen/lIwzn?editors=010
    -> GITHUB  : https://gist.github.com/Marekje/58e8c9103af720e71905
    (That buttons system should serve as a base for this one)
\*------------------------------------*/
.btn {
  border: none;
  background-color: #ffed90;
  color: #323951;
  padding: 0;
  margin: 0;
  font-family: "helvetica", verdana, sans-serif;
  font-weight: 100; }

.btn--action {
  background-color: #a8d46f; }
  .btn--action:hover {
    background-color: rgba(168, 212, 111, 0.8); }

.btn:focus {
  box-shadow: none; }

/* STATES */
/* BASE */
