// COLOR SCHEME
$darkblue: #323951;
$red: #FFA57F;
$green: #A8D46F;
$yellow: #FFED90;
$lightblue: #95A7E2;
$white: #EEECE0;
$black: #181B27;

$transparent-darkblue: rgba($darkblue, 0.5);

// FONT SCHEME
/*        āáǎàa
    It's not easy to find a font that allows pinyin writing :
    test with ǎ (Keyboard US-extended, [alt+v] -> [a]) put
    a regular a next to it and see how it looks. If "ǎ" and
    "a" are the same, you're good. So far, I use Source San
    Pro from Adobe Typekit for pinyin.
    ->     http://www.kendraschaefer.com/2012/06/chinese-standard-web-fonts-the-ultimate-guide-to-css-font-family-declarations-for-web-design-in-simplified-chinese/
*/
$font-chinese: 'source-sans-pro', "宋体", Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
$font-maintext: 'source-sans-pro', "宋体", Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
$font-code: 'Anonymous Pro', 'Courier New', Courier;
$font-interface: 'helvetica', verdana, sans-serif;

// SCALES
$fontscale-1: 1;
$fontscale-2: 1.2;
$fontscale-3: 1.6;
$fontscale-4: 2.4;

// COLORS
$color-main: $lightblue;
$color-accent: $yellow;
$color-background: $darkblue;
$color-action: $green;

$card_color-background: $yellow;
$card_color-text: $black;
$card_color-question: $red;

$color-text: $white;
$color-titles: $lightblue;
$color-links: $yellow;
$color-links--hover: $lightblue;

// GLOBAL VARIABLES

$app_max-width: 70em;
