// COLORS
$darkblue: #323951;
$white: #EEECE0;
$red: #FFA57F;
$green: #A8D46F;

$yellow: #FFED90;
$lightblue: #95A7E2;
$black: #181B27;

$transparent-darkblue: rgba($darkblue, 0.5);


// FONTS
$font-chinese: 'Noto sans', Verdana;
$font-maintext: 'Chaparral', 'Chaparral Pro', 'Noto sans', Georgia, serif;
$font-code: 'Anonymous Pro', 'Courier New', Courier;
