/*
Syntax error: Undefined variable: "$black".
        on line 6 of scss/modules/card.scss

1: .card {
2:     float: left;
3: 
4:     padding: 0.5em;
5: 
6:     border: 2px solid $black;
7: 
8:     background-color: $white;
9: 
10:     font-size: 2rem;
11: }

Backtrace:
scss/modules/card.scss:6
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/script/tree/node.rb:50:in `perform'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/script/tree/list_literal.rb:62:in `block in _perform'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/script/tree/list_literal.rb:62:in `map'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/script/tree/list_literal.rb:62:in `_perform'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/script/tree/node.rb:50:in `perform'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:366:in `visit_prop'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/stack.rb:121:in `with_frame'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/stack.rb:79:in `with_base'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/stack.rb:121:in `with_frame'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/stack.rb:79:in `with_base'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/engine.rb:274:in `render'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/plugin/compiler.rb:378:in `update_stylesheet'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/plugin/compiler.rb:186:in `each'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/plugin/compiler.rb:357:in `on_file_changed'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/lib/sass/plugin/compiler.rb:250:in `block in watch'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/Pierre/.rvm/gems/ruby-1.9.2-p320/gems/sass-3.3.9/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$black\".\A         on line 6 of scss/modules/card.scss\A \A 1: .card {\A 2:     float: left;\A 3: \A 4:     padding: 0.5em;\A 5: \A 6:     border: 2px solid $black;\A 7: \A 8:     background-color: $white;\A 9: \A 10:     font-size: 2rem;\A 11: }"; }
