/* DECK RELATED SCSS*/
.deck__learn {
  width: 98%;
  margin: auto;
  display: flex;
  align-items: stretch; }

.deck__card {
  flex-grow: 4; }

.deck__toolbar {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  align-content: stretch; }

.deck__toolbar li {
  display: block;
  width: 100%;
  display: flex; }

.deck__toolbar .btn {
  display: block;
  width: 100%;
  align-items: stretch; }
