/*------------------------------------*\
    #BUTTONS

    -> CODEPEN : http://codepen.io/Marekje/pen/lIwzn?editors=010
    -> GITHUB  : https://gist.github.com/Marekje/58e8c9103af720e71905
    (That buttons system should serve as a base for this one)
\*------------------------------------*/

.btn {
    border: none;
    background-color: $yellow;
    color: $darkblue;
    margin: 0;
}
.btn--action {
    min-width: 4em;
    min-height: 4em;

    background-color: $color-action;
}
.btn:focus {
    box-shadow: none;
}
