/*------------------------------------*\
    #BUTTONS

    -> CODEPEN : http://codepen.io/Marekje/pen/lIwzn?editors=010
    -> GITHUB  : https://gist.github.com/Marekje/58e8c9103af720e71905
    (That buttons system should serve as a base for this one)
\*------------------------------------*/

.btn {
    border: none;
    background-color: $yellow;
    color: $darkblue;
    padding: 0;
    margin: 0;

    font-family: $font-interface;
    font-weight: 100;
}
.btn--action {
    background-color: $color-action;
}
.btn:focus {
    box-shadow: none;
}
