.card {
    background-color: $card_color-background;

    color: $card_color-text;

    font-size: 2rem;
}
.card p {
    padding: 0.5em;
    margin: 0.5em;
}
.card__chinese .card-item__answer,
.card__chinese .card-item__question{
    font-size: 1.5em;
}
.card-item__answer,
.card-item__question,
.card-item {
    display: block; /* careful : .hidden{display: none !important } */
    min-width: 3em;
    padding: 0.3em;
    margin: 0.1em;
}
.card-item__question {
    color: $card_color-question;
}
.card [contenteditable='true'] {
    background-color: rgba($black, 0.2);
}
