/* DECK RELATED SCSS*/

.deck__learn {
    width: 100%;

    .deck__card,
    .deck__toolbar {
        display: inline-block;
    }
    .deck__card {
        width: 80%;
    }
    .deck__toolbar {
        float: right;
        width: 18%;
    }
}
