/*
    NAV module
    -> styles pertaining to the main navigation element,
        the menu on the top of the app.
*/

nav > * {
    display: inline-block;
    padding: 0.4em;
}

.nav__menu {
    float: right;
}

.nav__logo {
    font-family: $font-chinese;
    font-weight: 100;
    font-size: $fontscale-2+em;
    color: $color-accent;
}
