/*
    NAV module
    -> styles pertaining to the main navigation element,
        the menu on the top of the app.
*/
nav {
    background-color: $black;
}
nav > * {
    display: inline-block;
    padding: 0.4em;
}

.nav__menu {
    float: right;

    li {
        display: inline-block;
        margin-left: 1px;
    }
}
.menu__link {
    display: block;
    padding: 0.6em 0.4em 0.4em 0.4em;
    color: rgba($color-text, 0.8);
    text-decoration: none;
    background-color: $black;
    border-bottom: 3px solid rgba($color-text, 0.8);
    font-family: $font-interface;
    font-weight: 100;

    &:hover {
        color: $color-text;
        border-bottom: 3px solid $color-action;
    }
}

.nav__logo {
    font-family: $font-chinese;
    font-weight: 100;
    font-size: $fontscale-3+em;
    color: $color-accent;
}
